<li class="list-group-item rounded border shadow">
        <h2 class="text-md p-1">Subject:</h2>
        <h5 class="text-md p-1 pb-2">{{subject}}</h5>
        <p class="text-sm p-1"><strong>Posted by:</strong> {{name}} at {{date_created}}</p>
        <h2 class="text-md p-1">Description</h2>
        <p class="text-sm p-1">{{description}}</p>
      </li>