<div class="card text-center justify-content-center w-25">
  <div class="card-body" id='question{{id}}' data-id={{id}}>
    <h5 class="card-title">Question {{id}}</h5>
    <p class="card-text">{{question}}</p>
    <button type="button" class="btn btn-primary btn-sm" id="1">1</button>
    <button type="button" class="btn btn-primary btn-sm" id="2">2</button>
    <button type="button" class="btn btn-primary btn-sm" id="3">3</button>
    <button type="button" class="btn btn-primary btn-sm" id="4">4</button>
    <button type="button" class="btn btn-primary btn-sm" id="5">5</button>
  </div>
</div>