<h1 class="text-center">Come a Join Family</h1>
<figure class="figure text-center">
  <img src="https://s24193.pcdn.co/wp-content/uploads/2016/09/group-friendship.jpg" width = "600" height="700" class="figure-img rounded" alt="friends">
</figure>
<h1 class="text-center">Sign up and take our test!</h1>