<h1 class="text-center">What family do you belong to? Sign up and take our test!</h1>
<figure class="figure">
<img class="img-fluid rounded mx-auto imagg" src="https://i.ibb.co/N7fCPJs/sense-2326348-1280.jpg" width="1000" height="500" alt="friends">
</figure>