<h1>login</h1>

{{!-- Login method --}}
<form action="/api/local/login/password" method="post" class="login">
    <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <button class = "login" type="submit">login</button>
</form>

{{!-- Login with Google --}}
<a class="button google" href="api/google//auth/google">Sign in with Google</a>