
<div class="container-fluid">
  <div class="row">
    <!-- Blog Posts Section -->
    <div class="col-lg-8">
      <div class="container">
        <div class="col-lg-12 mx-auto p-3">
          <div class="col-lg-12 blogHeader">
            <h1 class="border-bottom text-center justify-content-center p-3 mb-5">Blog Posts</h1>
          </div>
          <ul>
            {{#each post as |p|}}
            {{> blogpost-details}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4 d-flex">
      <div class="container fluid">
        {{!-- Description --}}
        <div class="row">
          <div class="col-lg-12 border rounded shadow p-4">
            <h3>Type: Neurotic</h3>
            <p class="mb-5">"Neuroticism (N) is the personality trait of being emotional. High scorers 
              tend to have high emotional reactions to stress. They may perceive situations as threatening 
              and be more likely to feel moody, depressed, angry, anxious, and experience mood swings. 
              Low scorers tend to be more emotionally stable and less reactive to stress."</p>
            {{!-- Comment Form --}}
            <form action="/api/blogpost/" method="post">
              <section class="mt-2 mb-2">
                <div class="form-floating">
                  <input id="name" class="form-control col-6" name="name" type="text" autocomplete="name" required="">
                  <label for="name">Name</label>
                </div>
              </section>
              <section class="mb-2">
                <div class="form-floating">
                  <input id="subject" class="form-control col-6" name="subject" type="text" autocomplete="subject" required="">
                  <label for="subject">Subject</label>
                </div>
              </section>
              <section class="mb-2">
                <div class="form-floating">
                  <input id="description" class="form-control col-6" name="description" type="text" autocomplete="description" required="">
                  <label for="description">Description</label>
                </div>
              </section>
              <section>
                <select id="position" class="form-select form-control" name="position" autocomplete="position" required="">
                  <option value="Agreeableness">Agreeableness</option>
                  <option value="Extroversion">Extroversion</option>
                  <option value="Neuroticism">Neuroticism</option>
                  <option value="Openness">Openness</option>
                  <option value="Conscientiousness">Conscientiousness</option>
                  Position:
                </select>
              </section>
              <button type="submit" class="btn btn-info btn-lg signup mt-2">Post a Comment!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
