{{#each questions as |q|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Question {{q.id}}</h5>
    <p class="card-text">{{q.question}}</p>
    <button type="button" class="btn btn-primary btn-sm">1</button>
    <button type="button" class="btn btn-primary btn-sm">2</button>
    <button type="button" class="btn btn-primary btn-sm">3</button>
    <button type="button" class="btn btn-primary btn-sm">4</button>
    <button type="button" class="btn btn-primary btn-sm">5</button>
  </div>
</div>
{{/each}}