<div>
<button type="button" class="btn btn-primary btn-lg start">Click to Start Quiz</button>
</div>
<div class="card-deck">
{{#each questions as |q|}}
    {{> questions-details}}
{{/each}}
</div>
<div>
<button type="button" class="btn btn-primary btn-lg end">Submit</button>
</div>